
:host {
  flex: 2 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

:host ::ng-deep .custom-style{
  background-color:rgb(235, 195, 20);
  color:white;
}

.label-file, .label-send {
  align-self: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
  animation-name: bounce;
}
.label-file {
  cursor: pointer;
}

.label-send {
  cursor: progress;
}

.label-file:hover {
  color: #25a5c4;
}

.input-file {
  display: none;
}

.upok {
  width: 50%;
  padding: 6px 0 6px 0;
  align-self: center;
  background-color: rgb(245, 218, 85);
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/*
#slideUpload {
  bottom: 40px;
  height: 100px;
  padding-bottom: 5px;
  padding-top: 5px;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: scroll;
  width: 100%;
} */
