@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  box-sizing: border-box;
}

.logoodeis {
  display: flex;
  justify-content:center;
}

.uploadbackground {
  position: relative;
  width: 400px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding-bottom: 20px;
  background: #fff;
}

.titre_haut {
  background: #4db6ac;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
}

.content-upload{
  height : 100%;
  display : flex;
  align-items: center;
  justify-content: center;
}

.ligne_titre_1, .ligne_titre_2{
    color: #fff;
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}

.ligne_titre_1 {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  font-weight: bold;

}

.ligne_titre_2 {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}


